body {
  font-family: "Roboto";
}

.header
{
  padding-top: 24px;
  padding-bottom: 25px;
}


.header-web {
  color: #2196f3;
}

.header-studio
{
    color: #000;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-page {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-page:hover {
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;  
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.hero-button {
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}

.company
{
  padding-top: 94px;
  padding-bottom: 94px;
}

.company-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.company-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.about
{
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.about-photo {
  width: 370px;
  height: 294px;
}

.team
{
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team-photo {
  width: 270px;
  height: 260px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team-specialty {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.footer
{
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-web {
  color: #2196f3;
}

.footer-studio {
  color: #fff;
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-page {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.container
{
  width: 1199;
  margin-left: auto;
  margin-bottom: auto;
  padding-left: 15px;
  padding-bottom: 15px;
}

